/** Showcase **/
/** Blog **/
/** Utilities **/
/** GitHub **/

/** Showcase **/

.blog-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #f3f9ff;
}

.showcase-bg {
  padding-top: 8rem;
  /* Fallback solid color for older browsers */
  background-color: #247792; 

  /* Actual gradient */
  background: linear-gradient(to right, #06212b, #01011a);
  color: #f5f5f5;
}

.showcase-img {
  width: 100%;
  border-radius: 2%;
}

.blog-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: -0.03rem;
  margin-top: 0;
  margin-bottom: 16px;
  width: 80%;
}

.blog-summary {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #adbac7;
  width: 80%;
}

.authors-section {
  margin-top: 20px;
}

.authors-title {
  margin-bottom: 12px;
  color: #57606a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.authors-section-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.authors-flex {
  display: flex;
  flex-wrap: wrap;
}

.author-date {
  display: block;
  flex-shrink: 0;
  margin-bottom: 16x;
  color: #57606a;
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  padding-left: 28px;
  min-height: 28px;
  line-height: 28px;
  margin-top: 8px;
  border-left: 1px solid #57606a;
}

.author {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 600;
  margin-right: 32px;
  margin-bottom: 16px;
  align-items: center;
}

.author-image {
  margin-right: 14px;
  max-width: 40px;
  height: auto;
  display: block;
  border-radius: 50%;
  border-style: none;
}

.author-seperator {
  border-bottom: 2px solid #1624a1;
}

.review-list li {
  margin-bottom: 10px;
}

/** Blog **/

.blog-header {
  display: flex;
  justify-content: space-between;

}

/* View Pdf Feature */

#viewPdfButton {
  padding: .7rem 3.5rem;;
  background-color: var(--black-bg); /* A nice Azure blue */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#viewPdfButton:hover {
  background-color: var(--secondary-blue);
}

@media screen and (max-width: 420px) {
  #viewPdfButton {
    padding: 0.5rem 2rem;
    margin: 0;
    font-size: 14px;
    align-content: center;
  }
}

/* Social Share Buttons */
.platforms-chips-wrapper {
  flex-wrap: wrap;
  display:flex;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.chip-platform {
  grid-column-gap: 8px !important;
  align-items: center !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  display: flex !important;
  transition: all .2s;
}

/* Copy link button */
/* Adjust width as needed */

.tooltip {
  position: absolute;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  /* Appearance */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 120px; /* adjust if you like */
  z-index: 9999; /* ensure it's on top */
}

/* Tooltip arrow (pointing down since tooltip is above) */
.tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  /* The arrow points downward, so top is transparent, bottom is #555 */
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip */
.show-tooltip {
  visibility: visible;
  opacity: 1;
}

.copy-url-button {
  position: relative; /* Ensure the button is positioned relative for the tooltip */
}

/* Main Blog body */

.blog-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 20px;
}

.blog-container h2 {
  font-size: 30px;
  margin: 1rem 0;
}

.blog-container h3 {
  font-size: 25px;
  margin: 1rem 0;
}

.blog-container h4 {
  font-size: 21px;
  margin: 1rem 0;
}

.blog-container h5 {
  font-size: 19px;
  margin: 1rem 0;
}

.blog-container p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.blog-image {
  margin-bottom: 2rem;
  border-radius: 5px;
}

.image-w100 {
  width: 100%;
}

.image-w70 {
  width: 70%;
}

/*
Blog Container 
Contains all styles for the blog
*/

/* Overview */
.blog-toc {
  font-size: 18px;
  margin-bottom: 2rem;
}

.blog-toc li {
  margin-bottom: 0.8rem;
}

/* Body */

.blog-list {
  color: var(--black-bg);
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.blog-list li {
  /* font-weight: 500; */
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.74;
}

.blog-list li:last-child {
  margin-bottom: 0;
}

/* TODO: Try not ot use important tag. Remove is possible */

.ul-header {
  margin-bottom: 0 !important;
}

/* Utilities */

.text-links {
  text-decoration: underline;
  color: #1624a1;
}

.text-links:hover {
  /* font-weight:bold; */
  text-shadow: 0 0 0.9px black;
}

.text-links-bold {
  font-weight: normal;
  text-shadow: 0 0 0.9px black;
}

.text-links-bold:hover {
  text-shadow: 0 0 0 black;
}

.text-mono {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

.bold-font {
  font-weight: bolder;
}

.italics {
  font-style: italic;
}

.z-1 {
  z-index: 1;
}

/* GitHub */

.position-relative {
  position: relative;
}

.p-responsive-blog {
  padding-left: 24px;
  padding-right: 24px;
}

.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.gutter-spacious {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.showcase-bottom {
  bottom: 0;
  width: 100%;
  background: #f3f9ff;
  height: 80px;
}

.position-absolute {
  position: absolute;
}

@media screen and (max-width: 1280px) {
  .container-xl {
    max-width: 1080px;
  }
}

@media screen and (max-width: 650px) {
  .image-w70 {
    width: 100%;
  }
}
