.hero {
  padding-top: 9rem;
  padding-bottom: 5rem;
  position: relative;
  background-color: #247792; 

  /* Actual gradient */
  background: linear-gradient(to right, #06212b, #01011a);
  color: var(--light-text);
}

.ais-Hits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    list-style: none;
  }
  
  .ais-Hits-item {
    padding: 0px;
    border-bottom: none;
  }
  
  .hit {
    flex-direction: column;
    row-gap: 16px;
  }
  
  .hit-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  
  .hit-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border: 2px solid black;
    aspect-ratio: 16 / 9;
  }

  .hit-image:hover {
    border: 4px solid var(--primary-blue);
  }
  
  .hit-content a, .hit a {
    text-decoration: none;
    color: var(--secondary-blue);
  }
  
  .hit-content a:hover, .hit a:hover {
    color: var(--primary-blue);
  }

  .hit-content a:hover .hit-image {
    border: 2px solid var(--primary-blue);
  }

  .hit a:hover .hit-image {
    border: 2px solid var(--primary-blue);
  }
  
  .hit-date {
    margin-bottom: 1rem;
  }
   
  .hit-title {
  font-size: 1.5rem;
  line-height: 116%;
  letter-spacing: -0.96px;
  margin-bottom: 1rem;
}

.hit-title.h4 {
  font-size: 1.25rem;
}

.hit-title.h5 {
  font-size: 1rem;
}

.description {
    display: none;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 1rem;
  }
  
  .ais-Hits-item:has( .hit.latest-episode-grid) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  .hit.latest-episode-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
  }
  
  .latest-episode-grid .hit-title {
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: -1.6px;
  }
  
  .latest-episode-grid  .description {
    display: block;
  }
  
  @media screen and (max-width: 991px) {
    .ais-Hits-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .ais-Hits-item:first-child .hit {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 767px) {
    .ais-Hits-list {
      display: flex;
      flex-direction: column;
    }
  
    .ais-Hits-item:first-child .hit-title {
      font-size: 1.5rem;
      line-height: 116%;
      letter-spacing: -0.96px;
    }
  }